<h1><%= @article.name %></h1>
<p><%= link_to @article.url, @article.url %></p>

<% if current_user %>
<h3>Select a Reading List:</h3>
  <%= form_for @article do |f| %>
    <%= f.collection_select :reading_list_id, current_user.reading_lists.all, :id, :name %>

    <%= f.submit "Save to Reading List" %>
  <% end %>
<% end %>

<%= params.inspect %>
